@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  background-color: #ffffff;
}

/*.visually-hidden {
  visibility: hidden;
} Как правильно прописать класс: сейчас мы зарезервировали место под текст. display: none не читается скринридерами*/

/* header */

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

/*на будущее
.navigation-link-search {
  background-image: url("../images/search.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.navigation-link-favorites {
  background-image: url("../images/favorites.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
*/

/* main */

.main-hero {
  background-image: url("../images/index/index-background.jpg");
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}
